<md-content class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content >
            <div layout='column' layout-align='center center'>
              <h1 class='md-headline'>Welcome Back Admin</h1>
            </div>

            <div layout='column' layout-align='center center'>
                  <p class='streakTitle center-text'>Registered Members: {{adminObject.memberCount}}</p>
            </div>

            <div layout='column' layout-align='center center'>
                  <p class='md-subhead'>Daily Participants</p>
            </div>

            <div layout-align='center center' style="width:600px; height:300px;">
                <canvas id="dailyParticipantsChart"></canvas>
            </div>


            <div layout='column' layout-align='center center'>
              <h3 class='md-subhead'>Demographic Information</h3>
              <md-button class="md-raised" ng-click='demographicExport()'>Export to CSV</md-button>
            </div>

            <br>

            <div layout='column' layout-align='center center'>
              <h3 class='md-subhead'>Reflection Response Information</h3>
              <md-button class="md-raised" ng-click='reflectionExport()'>Export to CSV</md-button>
            </div>
        </md-content>
    </div>
</md-content>
