<p>This is DayDetail view</p>

<p>Daily Summary for {{day.date}}</p>

{{getReflections}}

<div layout='column' layout-align='center center'>
    <p class='md-title'>Feeling:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Last night you slept:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Your exercise level was:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Your food consumption was:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Used drugs or alcohol:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Took your medication:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Had a using dream last night:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Connected with a sponsor/mentor:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Number of group meetings you attended:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Engaged in service or community work:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Your stressors today:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Selfish or dishonest today:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>How I was selfish or dishonest:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>Your daily goal was:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>You completed yesterday's goal:</p>
    <p class='md-body-1'>Response</p>
    <hr />
    <p class='md-title'>You were thankful for:</p>
    <p class='md-body-1'>Response</p>
    <hr />
</div>
<footer class='navMenu' ng-include="'/views/partials/nav.html'"></footer>
