<div class="container">
  <div class = 'login-container row'>
    <div class = 'col-md-offset-4 col-md-4 col-md-offset-4'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>

          <h1 class="lead">Enter Phone Number</h1>
            <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
            <form ng-submit="sendResetPassword()">
              <div>
                  <input type="text" placeholder = 'phone number' ng-model="user.username" />
              </div>
              <br>
              <div>
                  <a href="/#home"><input class="btn btn-default" type="submit" name="submit" value="Submit" /></a>
              </div>
            </form>

        </div>
      </div>
    </div>
  </div>
</div>

<footer class='navMenu' ng-include="'/views/partials/blankNav.html'"></footer>
