<md-content layout = 'column' layout-align = 'center center'flex>
  <div layout='column' layout-align='center center'>
    <h1 class='md-headline'>Welcome Back!</h1>
    <div id='chainGraphic'>Chain Graphic Goes Here w/ Number of Days: {{sessionObject.streak}}</div>
    <h2 class='md-subhead'>Recovree Days In A Row.</h2>
  </div>

  <div layout='column' layout-align='end center' ng-if='sessionObject.reflectionCompleted == false'>
    <md-button class='md-raised md-hue-3' ng-click = 'launchReflection()'>Reflect</md-button>
  </div>

  <div layout='column' layout-align='end center' ng-if='sessionObject.reflectionCompleted == true'>
    <div class = 'wrapper'>
      <h2 class='md-title'>You have completed your Recovree for the day.</h2>
    </div>
  </div>

  <a href='#/admin-export'>Admin View</a>
</md-content>
<!-- <footer class='navMenu' ng-include="'/views/partials/nav.html'"></footer> -->
