<md-content class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content layout='column' layout-align='center center' flex>
            <h1 class='md-headline'>Welcome Back!</h1>

      <br>
            <div layout='column' layout-align='center center'>
                  <p class='md-subhead streak center-text'>Recovree Days In A Row: {{sessionObject.streak}}</p>
            </div>

            <div style="width:250px; height:250px" flex layout='column' layout-align='center center' >
                <canvas id="streakDonughtChart"></canvas>
            </div>


          <br>

            <div layout='column' layout-align='center center'>
                  <p class='md-subhead center-text'>Goal: 30 Days In A Row</p>
            </div>


            <div layout='column' layout-align='center center' ng-if='sessionObject.reflectionCompleted == false'>
                <md-button class='md-raised md-hue-3' ng-click='launchReflection()'>Reflect</md-button>
            </div>


            <div layout='column' layout-align='center center' ng-if='sessionObject.reflectionCompleted == true'>
                <h2 class='md-title center-text'>You have completed your reflection for the day.</h2>
            </div>

            <a href='#/admin-export'>Admin View</a>
        </md-content>
    </div>
</md-content>
<!-- <footer class='navMenu' ng-include="'/views/partials/nav.html'"></footer> -->
