<md-content class='wrapper' layout='column' layout-align='center center' flex>
  <div layout='column' layout-align='center center' flex >
    <md-content layout='column' layout-align='center center' flex>
      <div id='loginBox' layout='column' layout-align='center center' style='padding: 45px;'>
        <span style='font-size: 24px;'>Welcome to your</span>
        <h1 style="font-size: 36px; font-weight: bold;">RECOVREE</h1>
        <br>
          <md-button class='md-raised md-primary' ng-href='#/login' style="font-size: 15px; font-weight: bold;">LOGIN</md-button>
          <br>
          <h5>Not a part of Recovree yet?</h5>
          <h5><a href='#/register'>Register Here</a></h5>
      </div>
    </md-content>
  </div>
</md-content>
