<md-content id='northernLights' class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content layout='column' layout-align='center center' flex>
          <h3>LOGIN</h3>
            <div id='loginBox' layout='column' layout-align='center center'>
                <md-input-container>
                    <label>mobile phone number</label>
                    <input ng-model="user.username" required/>
                </md-input-container>

                <md-input-container>
                    <label>password</label>
                    <input type='password' ng-model="user.password" required/>
                </md-input-container>

                <p  class = "message-text" ng-if="message != ''">{{message}}</p>

                <md-button class='md-raised md-primary' style="font-size: 15px; font-weight: bold;" ng-click='login()'>Login</md-button>

                <br>
                <a href="#forgotpassword">Forgot Password</a>
                <br>
                <a href="#register">Register</a>
                <br>
            </div>
        </md-content>
    </div>
</md-content>
