<div id = 'northernLights' class = 'wrapper' layout = 'column' layout-align = 'center center' flex>

  <div id = 'loginBox' layout = 'column' layout-align = 'center center'>
          <md-input-container>
            <label>mobile phone number</label>
            <input ng-model="user.username">
          </md-input-container>

          <md-input-container>
            <label>password</label>
            <input type = 'password' ng-model="user.password">
          </md-input-container>

          <p ng-if="message != ''">{{message}}</p>

          <md-button class='md-raised' ng-click='login()'>Login</md-button>

          <br>
          <a href="#forgotpassword">Forgot Password</a>
          <br>
          <a href="#register">Register</a>
          <br>
  </div>
</div>


<!-- <div class="container">
  <div class = 'login-container row'>
    <div class = 'col-md-offset-4 col-md-4 col-md-offset-4'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>

          <h1 class="lead">Login</h1>
            <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
            <form ng-submit="login()">
              <div>
                  <input type="text" placeholder = 'phone number' ng-model="user.username" />
              </div>
              <br>
              <div>
                  <input type="password" placeholder = 'password' ng-model="user.password" />
              </div>
              <br>
              <div>
                  <br>
                  <input class="btn btn-default" type="submit" name="submit" value="Log In" />
                  <br>
                  <a href="#forgotpassword">Forgot Password</a>
                  <br>
                  <a href="#register">Register</a>

              </div>
            </form>

        </div>
      </div>
    </div>
  </div>
</div> -->
