<md-content id='northernLights' class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content layout='column' layout-align='center center' flex>
            <div layout='column' layout-align='center center'>

    <h1 class='md-subhead' style="font-size: 24px; text-align: center;">Sign Up For Recovree</h1>
  <h2 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>

  <form>
  <!-- Captures Info into MemberSchema -->
  <div>
    <md-input-container layout-xs='row'>
        <label for="username">Phone Number:</label>
        <input type="text" ng-model="user.username" ng-pattern="/^[0-9]{10}$/" required/>
    </md-input-container>

    <md-input-container layout-xs='row'>
        <label for="password">Password:</label>
        <input type="password" ng-model="user.password" required/>
    </md-input-container>
  </div>

  <!-- Captures Info into RegistrationSchema -->
    <div layout='row'>
      <md-input-container flex>
          <label for="gender">Gender:</label>
          <md-select ng-model="registration.gender">
              <md-option ng-repeat="gender in genders" value="{{gender.gender}}">
                {{gender.gender}}
              </md-option>
          </md-select>
      </md-input-container>

      <md-input-container flex>
          <label for="birthYear">Birth Year:</label>
          <md-select ng-model="registration.birthYear" ng-click='getYearDropdown()'>
              <md-option ng-repeat="year in years" value="{{year}}">
                {{year}}
              </md-option>
          </md-select>
      </md-input-container>
    </div>

  <div layout='row'>
    <md-input-container flex>
        <label for="state">State:</label>
        <md-select ng-model="registration.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label for="county">County:</label>
        <input type="text" ng-model="registration.county" />
    </md-input-container>
  </div>

  <div layout='row'>
    <md-input-container  flex>
        <label for="drugChoice">Drugs of Choice:</label>
        <md-select multiple ng-model="registration.drugChoice">
            <md-option ng-repeat="drug in drugs" value="{{drug.drug}}">
              {{drug.drug}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label for="sobrietyDate">Sobriety Date:</label>
        <md-datepicker md-hide-icons="calendar" md-open-on-focus ng-model="registration.sobrietyDate"></md-datepicker>
    </md-input-container>
  </div>

    <md-input-container layout-xs='row'>
        <label for="programPayment">How did you pay for your treatment services?</label>
        <md-select ng-model="registration.programPayment">
            <md-option ng-repeat="payment in payments" value="{{payment.payment}}">
              {{payment.payment}}
            </md-option>
        </md-select>
    </md-input-container>

  <div layout='column'  layout-align='center center'>


    <md-input-container>
      <p layout='row'>Are you currently taking prescription medication?</p>
        <label>Social Security Number</label>
        <input name="social" ng-model="user.social" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />

      <md-radio-group ng-model="registration.medication" layout-xs='row' style='display: inline-block;'>

          <md-radio-button value="true" class="md-primary">Yes</md-radio-button>
          <md-radio-button value="false">No</md-radio-button>

      </md-radio-group>

    <md-input-container layout-xs='row'>
        <md-checkbox ng-model="registration.termsAgreement" required>I agree to the <a ng-href='#/terms'>Terms of Use</a></md-checkbox>
    </md-input-container>

    <!-- <md-button class='md-raised' ng-click='registerUser(user,registration)'>Register</md-button> -->
    <md-button class='md-raised md-primary' style="font-size: 15px; font-weight: bold;" ng-click='showConfirm($event)'>Register</md-button>

    <a href="#login">Cancel</a>
    <br>
  </div>

  </form>

</div>
</md-content>
</div>
</md-content>
