<md-content class = 'wrapper' flex layout = 'column' layout-align = 'center center' ng-controller = 'NavController'>
  <div layout = 'column' layout-align = 'center center'>
    <md-content flex>
      <div layout = 'column' layout-align = 'center center'>
          <div>
            <h1 style="font-size: 24px">Resources</h1>
            <hr style='border-top: 1px solid #8c8b8b'>
          </div>

          <div>
            <p style='font-size: 18px'><a href='https://www.aastpaul.org'>St. Paul Intergroup AA</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='https://www.aaminneapolis.org'>Minneapolis Intergroup AA</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='https://www.naminnesota.org'>NA Minnesota</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='https://www.minnesotarecovery.org'>Minnesota Recovery Connection</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='https://www.smartrecovery.org'>SMART Recovery</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='https://www.facebook.com/pg/YPRMINNESOTA/about/'>Young People in Recovery</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='https://www.ststephensmpls.org'>St. Stephen's Human Services</a></h2>
          </div>

      </div>
    </md-content>
  </div>
</md-content>
