<md-content class = 'wrapper' flex layout = 'column' layout-align = 'center center' ng-controller = 'NavController'>
  <div layout = 'column' layout-align = 'center center' flex>
    <md-content flex>
      <div layout = 'column' layout-align = 'center center' flex>
          <div>
            <h1 style="font-size: 24px">Resources</h1>
            <hr style='border-top: 1px solid #8c8b8b'>
          </div>

          <div>
            <p style='font-size: 18px'><a href='http://www.aastpaul.org' target="_blank">St. Paul Intergroup AA</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='http://www.aaminneapolis.org' target="_blank">Minneapolis Intergroup AA</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='http://www.naminnesota.org' target="_blank">NA Minnesota</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='http://www.minnesotarecovery.org' target="_blank">Minnesota Recovery Connection</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='http://www.smartrecovery.org' target="_blank">SMART Recovery</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='http://www.facebook.com/pg/YPRMINNESOTA/about/' target="_blank">Young People in Recovery</a></h2>
            <hr />
          </div>

          <div>
            <p style='font-size: 18px'><a href='http://www.ststephensmpls.org' target="_blank">St. Stephen's Human Services</a></h2>
          </div>

      </div>
    </md-content>
  </div>
</md-content>
