.streakTitle {
    color: #813172;
    font-size: 18px;
}

.streak {
    color: #813172;
    font-size: 24px;
}

.reflectBtn {
    font-size: 40px;
    font-weight: bold;
}

.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #000000;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p {
    margin-top: 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger {
    margin-left: 10px;
}

#navFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    overflow: hidden;
}

#main-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
}

#chainGraphic {
    width: 250px;
    height: 250px;
    background-color: grey;
    margin: 20px;
    text-align: center;
    padding: 50px;
}

#formNextButton {
    color: white;
    font-size: 14px;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}

.termsTitle {
    font-size: 16px;
}

#headerTitle {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 28px;
    margin-left: 40px;
}

#adminTitle {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 28px;
    margin-left: 108px;
}

.menu-width{
  min-width: 40px;
}

md-toolbar .md-menu {
    margin-right: -20px;
}

.graph_image {
    background-color: grey;
    width: 200px;
    height: 200px;
    text-align: center;
}

.graph-canvas{
  width: 600px;
  height: 300px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

body {
    min-height: : 100%;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.header {
    text-align: center;
}

.login-container {
    padding: 20px;
    text-align: center;
}

.wrapper {
    padding: 15px;
}

.grey {
    background-color: gainsboro;
}

.md-button {
    font-size: 12px;
    min-width: 100px;
    text-align: center;
}

.form-button {
    color: white !important;
    font-weight: bold;
}

.footer-button {
    width: 150px !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.75em;
    font-weight: bold;
}

.center-text {
    text-align: center;
}

#loginLogo {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

#loginBox {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
}

#northernLights {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.message-text {
    color: red;
}

#menuButton{
  margin: 0;
}


/*TERMS OF USE MODAL*/

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialogdemoBasicUsage .footer,
.dialogdemoBasicUsage .footer>code {
    font-size: 0.8em;
    margin-top: 50px;
}

.dialogdemoBasicUsage button {
    width: 200px;
}

.dialogdemoBasicUsage div#status {
    color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}
