/*html {
  min-height: 100%;
}*/


.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #000000;
    color: #DDDDDD;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}

#navFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000000;
  overflow: hidden;
}

#main-content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

#chainGraphic {
  width: 250px;
  height: 250px;
  background-color: grey;
  margin: 20px;
  text-align: center;
  padding: 50px;
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    /*position: absolute;*/
    position: fixed !important;
}

#formNextButton {
    color: white;
    font-size: 14px;
    /*display: block;*/
    /*margin: auto;*/
    /*background-repeat: no-repeat;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*fill: currentColor;*/
    /*height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;*/
    display: inline-block;
    /*line-height: 16px;*/
    height: 14px;
    vertical-align: middle;
}


#headerTitle {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
}

.md-toolbar-tools > .md-button:last-child {
    margin-right: -60px;
}

.graph_image {
  background-color: grey;
  width: 200px;
  height: 200px;
  text-align: center;
}

/*keith*/
*{
  padding: 0;
  margin:0;
  /*overflow: hidden;*/
  font-family: 'Questrial', sans-serif;
}

body{
  min-height: : 100%;
}

h1{
  font-family: 'Lato', sans-serif;
}

.header{
    text-align: center;
}

.login-container{
  padding: 20px;
  text-align: center;
}

.wrapper{
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.grey{
  background-color: gainsboro;
}

.md-button{
  font-size: 12px;
  min-width: 100px;
  text-align: center;
}

.form-button{
  color: white !important;
  font-weight: bold;
  font-size: 16px;
}

.footer-button{
  width: 100px !important;
  margin: 0 !important;
  padding: 0 !important;
}
