<!-- <div class="instructions">
    <div class="container header">
      <div layout='row'>
        <h1 class="lead" layout-align='center center'>RECOVREE</h1>
        <md-button layout-align='end center'>
          <i class="material-icons">more_vert</i>
        </md-button>
      </div>
    </div>
</div> -->


<md-toolbar class="md-primary md-default">
  <div class="instructions">
    <div class="container header">
     <div class="md-toolbar-tools" layout='row'>

       <span flex></span>
       <h1 flex md-truncates id='headerTitle'>RECOVREE</h1>
       <span flex></span>

      <!-- <md-menu>
        <md-button class="md-icon-button" aria-label="Logout" ng-click="openMenu($mdMenu, $event)">
          <md-icon md-menu-origin><i class="material-icons" id='headerMenuBtn'>more_vert</i></md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="header()">
              <b>Logout</b>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu> -->

       <md-button>
         <md-icon><i class="material-icons">more_vert</i></md-icon>
       </md-button>
      </div>
    </div>
  </div>
</md-toolbar>
