<md-toolbar layout='row' ng-controller = 'NavController'>

    <div class="md-toolbar-tools">
        <h1 layout='column' flex='80' md-truncate>RECOVREE</h1>

        <div layout='column' flex>

            <md-menu ng-hide = "$location.path() === '/login' || $location.path() === '/register' || $location.path() === '/terms'">
                <md-button class="md-icon-button" aria-label="Logout" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin><i class="material-icons" id='headerMenuBtn'>more_vert</i></md-icon>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-href="#/login">
                            <b>Logout</b>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>

    </div>
</md-toolbar>
