<div id='navFooter'>
    <div layout="row" layout-align="center center">
       <md-toolbar flex='100' layout='row' layout-align='center center' class='md-default' >
         <span flex></span>
         <md-button ng-href="#/day-detail" class='md-subhead'>
            <span class='md-subhead'>TODAY</span>
         </md-button>
          <md-button ng-href="#/home" class='md-subhead'>
            <span class='md-subhead'>HOME</span>
          </md-button>
          <md-button ng-href="#/weekly-graphs" class='md-subhead'>
            <span class='md-subhead'>WEEKLY</span>
          </md-button>
          <span flex></span>
       </md-toolbar>
    </div>
</div>
