<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recovree</title>
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato|Questrial" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="vendors/angular-material/angular-material.css">
        <link rel="stylesheet" href="styles/style.css">

        <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="vendors/angular-aria/angular-aria.js"></script>
	      <script type="text/javascript" src="vendors/angular-animate/angular-animate.js"></script>
	      <script type="text/javascript" src="vendors/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="vendors/chartJS/Chart.min.js"></script>

    </head>

    <body ng-app="myApp">
      <header ng-include="'/views/partials/header.html'"></header>

      <md-content flex layout="column" flex style="overflow: scroll;" id='main-content'>
        <main ng-view></main>
      </md-content>

      <!--  Needs to source in last for chart to work-->
      <script type="text/javascript" src="scripts/client.min.js"></script>

    </body>
</html>
