<md-content class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content flex>

            <h3 class='md-subhead'>What is a goal for tomorrow?</h3>

            <md-input-container class="md-block md-accent">
                <label></label>
                <textarea  aria-label="What is a goal for tomorrow?" ng-model="reflectionObject.tomorrowGoal" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <div ng-if='sessionObject.yesterdaysGoal !== "No goal set yesterday"'>
                <p>Yesterdays Goal: {{sessionObject.yesterdaysGoal}}</p>
                <h3 class='md-subhead'>Did you complete your daily goal from yesterday?</h3>
                <div layout='row' layout-align='center'>
                    <span>No</span>
                    <md-switch aria-label='Did you complete your daily goal from yesterday?' class='md-accent' ng-model="reflectionObject.dailyGoal">
                    </md-switch>
                    <span>Yes</span>
                </div>
            </div>


        </md-content>
        <section layout='row' layout-align='center end'>
            <md-button class="md-raised md-primary form-button" aria-label="Prev Reflection" ng-click='reflectionFormPrevButton(sessionObject, reflectionObject)'>Prev</md-button>
            <md-button class="md-raised md-accent form-button" aria-label="Next Reflection" ng-click='reflectionFormNextButton(sessionObject, reflectionObject)'>Next</md-button>
        </section>

    </div>
</md-content>
<!-- ends wrapper -->
