<div class = 'wrapper' layout='column' layout-align='center center'>

<!-- Floating Next Button -->
  <md-button ng-class="{ visible: selectedTab==0 }" class="md-fab md-fab-bottom-right md-primary md-default"  aria-label="New Reflection" ng-click = 'reflectionFormNextButton(sessionObject, reflectionObject)'>
    <i class="material-icons" id='formNextButton'>navigate_next</i>
  </md-button>

  <h3 class='md-subhead' layout='row' layout-align='center center'>Have you taken your medication today?</h3>

  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch ng-model="reflectionObject.medication" aria-label='Taken medication today?' class='md-accent md-default'>
      <!-- Switch 1: {{ reflectionObject.medication }} -->
    </md-switch>
    <span>Yes</span>
  </div>

  <!-- {{ reflectionObject }} -->
</div>
<!-- ends wrapper -->
