<div class = 'wrapper'>

<!-- Floating Next Button -->
  <md-button ng-class="{ visible: selectedTab==0 }" class="md-fab md-fab-bottom-right md-primary md-default"  aria-label="New Reflection" ng-click = 'reflectionFormNextButton(sessionObject, reflectionObject)'>
    <i class="material-icons" id='formNextButton'>navigate_next</i>
  </md-button>

  <h3 class='md-subhead' layout='column' layout-align='center center'>Have you been selfish or dishonest with yourself or others today?</h3>

  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch aria-label = 'Have you been selfish or dishonest with yourself or others today?' ng-model="reflectionObject.selfishDishonest" class='md-accent md-default'>
    </md-switch>
    <span>Yes</span>
  </div>

  <md-input-container class="md-block md-accent md-default">
    <label>If yes, how?</label>
    <textarea ng-model="reflectionObject.howSelfshDishnt" md-maxlength="150" rows="5" md-select-on-focus></textarea>
  </md-input-container>
</div>
<!-- ends wrapper -->
