<md-content class='wrapper' layout='column' layout-align='center center'>
  <div flex>

    <h3 class='md-subhead'>Did you use any drugs or alcohol today?</h3>

    <div flex>
      <div layout = 'row' layout-align = 'center start'>
        <span>No</span>
        <md-switch aria-label='Use drugs or alcohol today?' ng-model="reflectionObject.drugAlcoholIntake" class='md-accent md-default'>
        </md-switch>
        <span>Yes</span>
      </div>
    </div>

    <section layout = 'row' layout-align = 'center end'>
        <md-button class="md-raised md-primary form-button" aria-label="Prev Reflection" ng-click='reflectionFormPrevButton(sessionObject, reflectionObject)'>Prev</md-button>
        <md-button class="md-raised md-accent form-button" aria-label="Next Reflection" ng-click='reflectionFormNextButton(sessionObject, reflectionObject)'>Next</md-button>
    </section>
  </div>
</md-content>
<!-- ends wrapper -->
