<md-content class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content flex>


            <h3 class='md-subhead'>Did you connect with your sponsor/mentor today?</h3>


            <div layout='row' layout-align='center'>
                <span>No</span>
                <md-switch aria-label='Did you connect with your sponsor today?' class='md-accent md-default' ng-model="reflectionObject.spnsrMntrConnect">
                </md-switch>
                <span>Yes</span>
            </div>

            <h3 class='md-subhead'>How many group meetings did you attend today?</h3>
            <div>
              <md-slider-container >
                  <span>0</span>
                      <md-slider aria-label = 'How many group meetings did you attend today?' flex  class='md-accent md-default' md-discrete ng-model="reflectionObject.groupMeet" step="1" min="0" max="5" aria-label="rating">
                      </md-slider>
                  <span>5</span>
              </md-slider-container>
              <div ng-switch on = "reflectionObject.groupMeet" layout = 'row' layout-align = 'center center'>
                   <span ng-switch-when = "0">0</span>
                   <span ng-switch-when = "1">1</span>
                   <span ng-switch-when = "2">2</span>
                   <span ng-switch-when = "3">3</span>
                   <span ng-switch-when = "4">4</span>
                   <span ng-switch-when = "5">5</span>
              </div>
            </div>

            <h3 class='md-subhead'>Did you engage in any service or community work today?</h3>
            <div layout='row' layout-align='center' flex>
                <span>No</span>
                <md-switch aria-label='Did you engage in any service or community work today?' class='md-accent md-default' ng-model="reflectionObject.commntyService">
                </md-switch>
                <span>Yes</span>
            </div>
        </md-content>


        <section layout='row' layout-align='center end'>
            <md-button class="md-raised md-primary form-button" aria-label="Prev Reflection" ng-click='reflectionFormPrevButton(sessionObject, reflectionObject)'>Prev</md-button>
            <md-button class="md-raised md-accent form-button" aria-label="Next Reflection" ng-click='reflectionFormNextButton(sessionObject, reflectionObject)'>Next</md-button>
        </section>

    </div>

</md-content>
<!-- ends wrapper -->
