<div class = 'wrapper'>

  <p layout = 'column'>Did you exercise today?</p>
  <md-slider-container layout = 'row'>
    <span>No Activity</span>
    <md-slider flex class="md-primary" md-discrete ng-model="reflectionObject.exercise" step="1" min="1" max="5" aria-label="rating">
    </md-slider>
    <span>High Activity</span>
  </md-slider-container>

  <br>

  <p layout = 'column'>Rate your food consumption and access for today</p>
  <md-slider-container layout = 'row'>
    <span>Not Healthy</span>
    <md-slider flex class="md-primary" md-discrete ng-model="reflectionObject.food" step="1" min="1" max="5" aria-label="rating">
    </md-slider>
    <span>Very Healthy</span>
  </md-slider-container>

<!--
  {{ reflectionObject }} -->
  <div layout = 'row'>
    <br>
    <md-button class = 'md-raised' ng-click = 'reflectionFormNextButton(sessionObject, reflectionObject)'>Next</md-button>
  </div>
</div>
<!-- ends wrapper -->
