
<md-content class='wrapper' flex>
    <div layout='column' layout-align='center center' flex>
      <div>
          <h3 class='md-title'>Overall, how are you feeling?</h3>
          <md-slider-container >
              <span>Terrible</span>
                  <md-slider aria-label = 'Overall, how are you feeling today? 1 = terrible 5 = great' flex  class='md-accent md-default' md-discrete ng-model="reflectionObject.overallfeeling" step="1" min="1" max="5" aria-label="rating">
                  </md-slider>
              <span>Great</span>
          </md-slider-container>
      </div>


        <div>
            <h3 class='md-title'>What emotions did you experience today?</h3>
        </div>

        <div>
            <form name="dailyFeelingsForm" novalidate>
                <div layout = 'row' layout-align = 'center center' layout-wrap>
                    <ng-form name="feelingForm" class="form-group" ng-repeat="feeling in reflectionObject.feelings">
                        <md-button class='md-raised' ng-class="{'md-primary':(feeling.value === true)}" ng-click='toggleFeeling(feeling)'>
                            {{feeling.name}}
                        </md-button>
                    </ng-form>
                </div>


                <md-input-container class="md-block md-accent md-default">
                    <label>Why?</label>
                    <textarea ng-model="reflectionObject.feelingsWhy" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>

            </form>

            <!-- ends feelingsForm -->



            <section layout = 'row' layout-align = 'center center'>
                <!-- <md-button class="md-raised md-primary form-button" aria-label="Prev Reflection" ng-click='reflectionFormPrevButton(sessionObject, reflectionObject)'>Prev</md-button> -->
                <md-button class = 'md-raised' ng-click = 'returnHomeButton(sessionObject, reflectionObject)'>Return Home</md-button>

                <md-button class="md-raised md-accent form-button" aria-label="Next Reflection" ng-click='reflectionFormNextButton(sessionObject, reflectionObject)'>Next</md-button>
            </section>

        </div>
    </div>
</md-content>
