<div class = 'wrapper'>

<!-- Floating Next Button -->
  <md-button ng-class="{ visible: selectedTab==0 }" class="md-fab md-fab-bottom-right md-primary md-default"  aria-label="New Reflection" ng-click = 'reflectionFormNextButton(sessionObject, reflectionObject)'>
    <i class="material-icons" id='formNextButton'>navigate_next</i>
  </md-button>

  <h3 class='md-subhead'>If available today, would you have connected to an online peer support group to engage with others in recovery?</h3>

  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch aria-label = 'Would you connect to an online peer support group today?' class = 'md-primary' ng-model="reflectionObject.peerSupport">
    </md-switch>
    <span>Yes</span>
  </div>

  <h3 class='md-subhead'>If available today, would you have contacted an alcohol/drug or mental health counselor by phone or FaceTime?</h3>
  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch aria-label = 'Would you connect to an online mental health counselor?' class = 'md-primary' ng-model="reflectionObject.counselor">
    </md-switch>
    <span>Yes</span>
  </div>

</div>
<!-- ends wrapper -->
