<md-content class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content flex>
            <h3 class='md-subhead'>What are you thankful for today and why?</h3>

            <md-input-container class="md-block md-accent">
                <label></label>
                <textarea aria-label='What are you thankful for today and why?' ng-model="reflectionObject.gratitude" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        </md-content>
        <section layout='row' layout-align='center end'>
            <md-button class="md-raised md-primary form-button" aria-label="Prev Reflection" ng-click='reflectionFormPrevButton(sessionObject, reflectionObject)'>Prev</md-button>
            <md-button class="md-raised md-accent form-button" aria-label="Next Reflection" ng-click='reflectionFormNextButton(sessionObject, reflectionObject)'>Next</md-button>
        </section>

    </div>
</md-content>

<!-- ends wrapper -->
