<div class = 'wrapper'>

  <md-input-container class="md-block">
    <label>What is your goal you would like to accomplish tomorrow?</label>
    <textarea ng-model="reflectionObject.tomorrowGoal" md-maxlength="150" rows="5" md-select-on-focus></textarea>
  </md-input-container>

  <p>Display daily goal from yesterday here.</p>

  <p>Did you complete your daily goal from yesterday?</p>
  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch class = 'md-primary' ng-model="reflectionObject.dailyGoal">
    </md-switch>
    <span>Yes</span>
  </div>


  <!-- {{ reflectionObject }} -->
  <br>
  <md-button class = 'md-raised' ng-click = 'reflectionFormNextButton(reflectionObject)'>Next</md-button>
</div>
<!-- ends wrapper -->
