<div class = 'wrapper'>

  <p>If available today, would you connect to an online peer support group to engage with others in recovery?</p>
  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch class = 'md-primary' ng-model="reflectionObject.peerSupport">
    </md-switch>
    <span>Yes</span>
  </div>

  <p>If available today, would you connect to an online peer support group to engage with others in recovery?</p>
  <div layout = 'row' layout-align = 'center'>
    <span>No</span>
    <md-switch class = 'md-primary' ng-model="reflectionObject.counselor">
    </md-switch>
    <span>Yes</span>
  </div>

  <br>
  <md-button class = 'md-raised' ng-click = 'reflectionFormNextButton(reflectionObject)'>Next</md-button>
</div>
<!-- ends wrapper -->
