<div class = 'wrapper'>


<!-- Floating Next Button -->
  <md-button ng-class="{ visible: selectedTab==0 }" class="md-fab md-fab-bottom-right md-primary md-default"  aria-label="New Reflection" ng-click = 'reflectionFormNextButton(sessionObject, reflectionObject)'>
    <i class="material-icons" id='formNextButton'>navigate_next</i>
  </md-button>

  <h3 class='md-subhead' layout='row' layout-align='center center'>Did you exercise today?</h3>

  <md-slider-container layout = 'row'>
    <span>No Activity</span>
    <md-slider aria-label = 'Did you exercise today? 1 = no activity, 5 = high' flex class='md-accent md-default' md-discrete ng-model="reflectionObject.exercise" step="1" min="1" max="5" aria-label="rating">
    </md-slider>
    <span>High Activity</span>
  </md-slider-container>

  <br>

  <h3 class='md-subhead' layout='column' layout-align='center center'>Rate your food consumption and access for today</h3>
    <md-slider-container layout = 'row'>
      <span>Not Healthy</span>
      <md-slider aria-label = 'Rate your food consumption and access for today. 1 = Not Healthy, 5 = Very Healthy' flex class='md-accent md-default' md-discrete ng-model="reflectionObject.food" step="1" min="1" max="5" aria-label="rating">
      </md-slider>
      <span>Very Healthy</span>
    </md-slider-container>

<!--
  {{ reflectionObject }} -->

</div>
<!-- ends wrapper -->
