<md-content class='wrapper' layout='column' layout-align='center center' flex>
    <div layout='column' layout-align='center center' flex>
        <md-content flex layout = 'column' layout-align = 'center center'>
            <h3 class='md-subhead'>You have finished your daily Recovree!</h3>
        </md-content>
        <md-button class='md-raised md-primary' style="font-size: 12px; font-weight: bold;" ng-click='returnHomeButton(sessionObject, reflectionObject)'>Return Home</md-button>
    </div>
</md-content>
